$background-primary: #f5f5f5;
$background-secondary: #ecf0e9;
$btn-bg-primary: #7bf37b;
$btn-bg-primary-dark: #26d326;
$btn-bg-primary-hover: #298b29;
$btn-bg-primary-dark-hover: #0d800d;
$card-background: #66ed6689;
$card-background-text: #04a004;
$card-border: #36eb36;
$btn-primary: #fafafa;
$main-font: "Poppins", sans-serif;
$secondary-font: "Montserrat", sans-serif;
$input-border: #c0e5c9;
$navy-text: #010145;
$shadow-navy: #4c4c6e69;
$btn_bg-secondary: #c8c6c6;
$btn_bg-secondary--hover: #cccbcb;
$nav-active-text: #f1f8f8;
